{% extends 'base.html' %}
{% block title %} Detail {% endblock %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>Name = {{ song.name }}</p>
    <p>URL = {{ song.url }}</p>
    <p>Category = {{ song.category.category }}</p>
    <p>Cover = {{ song.cover }}</p>

{% endblock %}