{% block content %}
    <div class="">
        {% include "Main/base.html" %}
        <div class="bg-gradient-to-r from-indigo-500  shadow-md px-8 pt-6 pb-8 mb-4">
            <h1 class="text-5xl mb-4 ">Music Counts</h1>
            <div class="grid grid-cols-2 gap-4">
                <div class="flex items-center">
                    <p class="font-bold mr-2">Category:</p>
                    <div class="flex items-center">
                        <p class="font-bold mr-2">Album Count:</p>
                        <p>{{ album_count }}</p>
                    </div>
                    <div class="flex items-center">
                        <p class="font-bold mr-2">Category Count:</p>
                        <p>{{ category_count }}</p>
                    </div>
                    <div class="flex items-center">
                        <p class="font-bold mr-2">Music Count:</p>
                        <p>{{ music_count }}</p>
                    </div>
                    <br><br><br><br><br>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% include "Main/footer.html" %}