{% block content %}

<div>{% include "Main/base.html" %}</div>
    {% include "Main/messages.html" %}
<div class="bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% text-center flex flex-col justify-between ">
    {% for song in music %}
    <h1 class="text-3xl font-bold mb-6">{{ song.name }}</h1>
    <div class="text-gray-800">
        <div>
            <p><span class="font-bold">Title:</span> {{ song.name }}</p>
            <p><span class="font-bold">Artist:</span> {{ song.url }}</p>
            <p><span class="font-bold">Album:</span> {{ song.cover }}</p>
            <p><span class="font-bold">category:</span> {{ song.album }}</p>
            <p><span class="font-bold">Release Date:</span> {{ song.creat_time }}</p>
            <p><span class="font-bold">created at :</span> {{ song.update_time }}</p>
            <p><span class="font-bold">modified at:</span> {{ song.pk }}</p>
            <p><span class="font-bold">ID :</span> {{ song.id }}</p>
            {% if song.id|stringformat:"s"|length == 36 %}
                <a href="{% url 'delete' song.id %}" class="bg-red-400 text-white px-4 py-2 rounded hover:bg-red-700">Delete with ID</a>
                <a href="{% url 'delete' song.name %}" class="bg-red-400 text-white px-4 py-2 rounded hover:bg-red-700">Delete with name</a>
            {% else %}
                <p>Invalid ID format</p>
            {% endif %}



            <br><br><br><br>

            {% include 'Musics/delete.html' %}

        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
{% include "Main/footer.html" %}