
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Website</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="p-4">
        <a href="{% url 'add' %}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Add Music</a>
        <a href="{% url 'info' %}" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">Info</a>
    </div>
</body>
</html>